body {
    background-color: #f4f7fb;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

.logo {
    display : flex ; 
    align-items : center ; 
}

.logo img {
    height : 40px ; 
    margin-right : 10px ; 
}

.logo span {
    font-size : 20px ; 
    font-weight : bold ; 
}

header {
    background-color: #395570;
    padding: 0;
}

header h1 {
    color: white;
    font-size: 28px;
    margin: 0;
}

header p {
    color : white ; 
    font-size : 20px ; 
    margin : 0 ; 
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    padding: 10px 20px;
    color: white;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #ecf0f1;
    font-weight: bold;
}

nav ul li a:hover {
    color: #1abc9c;
}

.description {
    padding: 20px;
    color: #333;
    font-size: 18px;
}

.catalog {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.product {
    background: #ffffff;
    padding: 15px;
    border-radius: 10px;
    width: 200px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.product img {
    width: 100%;
    border: 2px solid #2c3e50;
    border-radius: 8px;
}

.product h3 {
    margin-top: 10px;
    font-size: 16px;
    color: #2c3e50;
}

footer {
    background: #2c3e50;
    color: white;
    padding: 15px;
    margin-top: 30px;
}

footer a {
    color: #1abc9c;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    color: #f39c12;
}